# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Distribution / packaging
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/
.env/
.env
.cfp-env

# Editor-specific files
.idea/  # IntelliJ IDEA / PyCharm
.vscode/ # VS Code
*.swp   # Vim swap files
*~      # Emacs backup files
.DS_Store # macOS specific

# IPython Notebook
.ipynb_checkpoints/

# Tests
.pytest_cache/
.coverage
.vscode

# Miscellaneous
.DS_Store
.Python
pip-log.txt
pip-delete-this-directory.txt
cfp.log
cfp.pid
htmlcov/
.tox/
.mypy_cache/
.ruff_cache/
.nox/

# Temporary local dependency directory used during development
.test-deps/


*.py
*.json
*.txt
README_dev.md


